{%- liquid
  assign bl_stts = block.settings
  assign type_preset = bl_stts.type_preset
  assign type_preset_class = type_preset

  if type_preset_class == 'rte'
    assign type_preset_class = blank
  endif

  capture text_block_classes
    if type_preset == 'custom'
      echo ' custom-typography '
      if bl_stts.font_size != ''
        echo ' custom-font-size '
      endif
    endif
  endcapture
-%}

<div
  class="card_article__button spacing-style button {{ type_preset_class }}{{ text_block_classes }}"
  style="
    {%- render 'size-style', settings: bl_stts -%}
    {%- render 'spacing-style', settings: bl_stts -%}
    {%- render 'typography-style', settings: bl_stts, preset: type_preset, type: 'body', line_height: 'normal', button_link: true -%}
  "
>
  <a
    href="{{ card_article.url }}"
    id="StandardCardNoMediaLink-{{ section_id }}-{{ card_article.id }}"
    class="full-unstyled-link card-button-change"
    aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_article.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_article.id }}"
  >
    {{ bl_stts.text | default: 'Read more...' }}
  </a>
</div>
