{%- if show_mobile_slider -%}
  <swiper-component
    class="swiper-component-mobile" 
    data-swiper-mobile
    {%- render 'swiper-data',
      loop: false,
      slides_per_view: 1.2,
      space_between: 20
    -%}
    style="
      {% render 'swiper-style',
        columns_mobile: mobile_columns,
        columns_tablet: columns_tablet,
        columns_desktop: columns_desktop,
        columns_gap: 20,
      %}
    "
  >
    <div class="swiper swiper-mobile"
        style="
          {% if block.settings.pagination_type == 'bullets' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' %}
            --dots-top-offset: {{ block.settings.dots_top_offset }}px;
          {% elsif block.settings.pagination_type == 'progressbar' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' %}
            --progress-top-offset: {{ block.settings.progress_top_offset }}px;
          {% endif %}"
    >
{%- endif -%}

<ul class="editorial-product__grid list-unstyled{% if show_mobile_slider %} has-swiper-mobile swiper-wrapper{% endif %}">
  {% for item in items %}
    {% liquid
      assign editorial_group_size = 6
      assign editorial_group_rows = 13

      assign current_grid_index = forloop.index0 | divided_by: editorial_group_size
      assign current_item_index = forloop.index0 | modulo: editorial_group_size

      case current_item_index
        when 0
          assign grid_column = '5 / span 13'
          assign grid_row = 1
          assign grid_row_span = 4
        when 1
          assign grid_column = '29 / span 13'
          assign grid_row = 2
          assign grid_row_span = 4
        when 2
          assign grid_column = '4 / span 18'
          assign grid_row = 5
          assign grid_row_span = 5
        when 3
          assign grid_column = '33 / span 13'
          assign grid_row = 6
          assign grid_row_span = 3
        when 4
          assign grid_column = '8 / span 13'
          assign grid_row = 11
          assign grid_row_span = 3
        when 5
          assign grid_column = '29 / span 16'
          assign grid_row = 9
          assign grid_row_span = 4
      endcase

      assign full_grid_rows = current_grid_index | times: editorial_group_rows
      assign grid_row = grid_row | plus: full_grid_rows
    %}

    {% if show_mobile_slider %}
    <div class="swiper-slide">
    {% endif %}
      <div
        class="editorial-product__item-{{ forloop.index0 | modulo: 4 }}"
        style="grid-column: {{ grid_column }}; grid-row: {{ grid_row }} / span {{ grid_row_span }};"
      >
        {{ item }}
      </div>
    {% if show_mobile_slider %}
    </div>
    {% endif %}
  {% endfor %}
</ul>
 {%- if show_mobile_slider -%}
    {%- if enable_navigation -%}
      <div class="swiper-btns-wrap">
        {%- render 'swiper-button' -%}
      </div>
    {%- endif -%}
    {%- if enable_pagination -%}
      <div class="swiper-pagination"></div>
    {%- endif -%}
    </div>
    </swiper-component>
  {%- endif -%}