{%- liquid
  assign card_article = block.settings.article
-%}

<div class="card--block-button{% if block.settings.icon != 'none' %} flex items-center{% endif %}">
  {%- if card_article and card_article != empty -%}
    {% if block.settings.style_class == 'link' %}
      {%- render 'card-article-button', card_article: card_article, block: block -%}
    {% else %}
      {%- assign placeholder = 'blogs.article.read_more' | t -%}
      {%- render 'button', link: card_article.url, block: block, label: placeholder -%}
    {% endif %}
  {%- else -%}
    {%- assign placeholder = 'blogs.article.read_more' | t -%}
    {% render 'text', block: block, fallback_text: placeholder %}
  {%- endif -%}
  {%- if block.settings.icon != 'none' -%}
    {% liquid
      assign icon_block_class = 'icon-block__media icon-block_' | append: block_settings.icon | append: ' icon-block-' | append: block.id
    %}
    <div class="svg-wrapper" style="--icon-size: {{ block.settings.icon_width | append: 'px' }}; --ml: 8px;">
      <svg
        class="{{ icon_block_class }}"
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="{{ block.settings.icon_width }}"
        height="{{ block.settings.icon_width }}"
        viewBox="0 0 20 20"
        stroke="none"
        fill="currentColor"
        {% if block.shopify_attributes %}
          {{ block.shopify_attributes }}
        {% endif %}
      >
        {%- render 'icon', icon: block.settings.icon -%}
      </svg>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:names.article_button",
  "tag": null,
  "settings": [
    {
      "type": "article",
      "id": "article",
      "label": "t:settings.article"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.text",
      "default": "<p>Read more...</p>"
    },
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "arrow",
          "label": "t:options.arrow"
        },
        {
          "value": "arrow_long",
          "label": "Arrow long"
        },
        {
          "value": "check_mark",
          "label": "t:options.check_mark"
        },
        {
          "value": "double_chevron",
          "label": "Double chevron"
        },
        {
          "value": "eye",
          "label": "t:options.eye"  
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "plane",
          "label": "t:options.plane"
        },
        {
          "value": "plant",
          "label": "t:options.plant"
        },
        {
          "value": "plus",
          "label": "Plus"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "icon_width",
      "label": "t:settings.icon_width",
      "min": 12,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 18,
      "visible_if": "{{ block.settings.icon != 'none' }}"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        },
        {
          "value": "link",
          "label": "t:options.link"
        }
      ],
      "default": "link"
    },
    {
      "type": "header",
      "content": "t:content.typography",
      "visible_if": "{{ block.settings.style_class == 'link' }}"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "rte",
      "info": "t:info.edit_presets_in_theme_settings",
      "visible_if": "{{ block.settings.style_class == 'link' }}"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' and block.settings.style_class == 'link' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' and block.settings.style_class == 'link' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' and block.settings.style_class == 'link' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' and block.settings.style_class == 'link' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' and block.settings.style_class == 'link' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.top"
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.right"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.bottom"
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.left"
    }
  ],
  "presets": [
    {
      "name": "t:names.article_button",
      "settings": {
        "article": "{{ closest.article }}"
      }
    }
  ]
}
{% endschema %}
